

.App {
  text-align: center;
  height: 600px;
  max-height: 600px;
}




html { 
  width: 100%; 
  min-height: 100%; 
} 

body { 
  width: inherit; 
  min-height: inherit; 
  margin: 0; 
  padding: 0; 
} 